@import 'src/colors.scss';

.terrain-table {
  display: flex;
  flex-direction: column;
  
  label {
    padding-right: 1em;
    color: $MAIN_BORDER_COLOR;
    font-family: monospace;

    &.small {
      color: black;
      font-size: 0.8em;
      padding: 0.4em;
    }
  }

  .row {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .suboption {
      border: 1px solid $MAIN_BORDER_COLOR;
    }
  }

  .terrain-name {
    color: $ICE;
    cursor: default;
    vertical-align: super;

    &.unassigned {
      transform: translateX(-16px);
    }
  }

  .arrow {
    display: inline-block;
    cursor: pointer;
    padding-left: 0.33em;

    &.disabled {
      visibility: hidden;
    }

    svg {
      height: 16px;
    }

    &.left {
      padding-right: 0.33em;

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      polygon {
        fill: $MAIN_BORDER_COLOR;
      }
    }
  }
}
